.boardImg {
    width: 792px;
    height: 400px;
}

.container{
    display: block;
    justify-content: center;
    min-height: 100vh;
    align-content: center;
    overflow-x: scroll;
    border: 1px solid black;
    border-radius: 3px;
}

.relativeDiv{
    position:relative;
    width: 792px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
}

.knockedOutDiv img{
    width: 66px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 3px;
}

.knockedOutDiv img:hover{
    background: gray;
    transition: background 0.5s;
}

.knockedOutDiv {
    position: relative;
}

.knockedOutDiv > div {
    position: absolute;
    top: 46%; 
    left: 43%; 
    transform: translate(-50%, -50%);
}


.knockedOutPiecesDivHolder{
    display: flex;
    justify-content: center;
}

.knockedOutPiecesDivHolder div {
    margin-left:5px;
    margin-right:5px;
}

.buttonsDiv{
    min-width: 800px;
}