.boardImg {
    width: 792px;
    height: 400px;
}

.container{
    display: block;
    justify-content: center;
    min-height: 100vh;
    align-content: center;
    overflow-x: scroll;
}

.relativeDiv{
    position:relative;
    width: 792px;
    height: 400px;
    left: 50%;
    transform: translateX(-50%);
}

.w800 {
    width: 800px;
}
