body{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

table{
    justify-content: center;
    width: 100%;
}

thead th {
    text-align: center;
}

tbody th{
    text-align: left;
    padding-left: 1rem;
}

tbody td {
    text-align: right;
    padding-right: 1rem;
}

button{
    background: lightgray;
    color: black;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}

button:hover{
    background-color: darkgray;
}

.container{
    background-color: lightblue;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 10px;
    width:30%;
}

.buttonsDiv{
    display: none;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: azure;
}

.swaggerDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: azure;
}

.swaggerDiv a {
    text-decoration: none;
    border: 2px solid black;
    background-color: rgb(10, 237, 86);
    padding: 0.5rem;
    color: black;
    margin: 0.5rem;
    border-radius: 8px;
}

.swaggerDiv a:hover{
    background-color: rgb(10, 255, 86);
}

.queryDiv{
    display: flex;
    width: 100%;
    justify-content: center;
    color: gray;
    text-align: center;
    padding-bottom: 0.5rem;
}

